@using openshock2coyote.Config
@using LucHeart.WebsocketLibrary
@using OpenShock.Desktop.ModuleBase
@using OpenShock.Desktop.ModuleBase.Api
@using openshock2coyote.Services
@using InTheHand.Bluetooth
@using OpenShock.Desktop.ModuleBase.Config
@implements IAsyncDisposable

@page "/dash/hub"

<MudPaper Outlined="true" Class="rounded-lg mud-paper-padding d-flex" Style="gap:16px; flex-direction: row">
    <div style="flex:1; display:flex; flex-direction:column; padding: 0; margin: 0">
        <MudPaper Outlined="true" Class="rounded-lg mud-paper-padding-margin">
            <span>
                <MudSelect T="Guid" Variant="Variant.Outlined" Label="Hub" @bind-Value="_selectedDevice" @bind-Value:after="SelectedDeviceChanged">
                    <MudSelectItem Value="Guid.Empty">None (Disable)</MudSelectItem>
                    @foreach (var device in OpenShockService.Data.Hubs.Value)
                    {
                        <MudSelectItem Value="@device.Id">@device.Name</MudSelectItem>
                    }
                </MudSelect>
            </span>
            <div>
                <MudIcon Color="GetConnectionStateColor(FlowManager.DeviceConnectionState.Value)" Icon="@Icons.Material.Filled.CheckCircle"></MudIcon>
                @FlowManager.DeviceConnectionState.Value
            </div>
        </MudPaper>


        <MudPaper Outlined="true" Class="rounded-lg mud-paper-padding-margin">
            <MudTextField Class="option-width" Variant="Variant.Filled" @bind-Value="ModuleConfig.Config.Hub.ChannelAId" Label="Channel A Shocker Id" @bind-Value:after="OnSettingsValueChange"/>
            <MudTextField Class="option-width" Variant="Variant.Filled" @bind-Value="ModuleConfig.Config.Hub.ChannelBId" Label="Channel B Shocker Id" @bind-Value:after="OnSettingsValueChange"/>
        </MudPaper>

        <MudPaper Outlined="true" Class="rounded-lg mud-paper-padding d-flex" Style="position: relative; flex-direction: column">
            <div class="d-flex align-items-center gap-2">
                <MudButton OnClick="StopCoyote" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Cancel" Color="Color.Primary">Stop</MudButton>
                <MudButton Disabled="_disableButton" OnClick="FindCoyote" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Bluetooth" Color="Color.Primary" Class="flex-grow-1">Connect to Coyote</MudButton>
            </div>
            <MudProgressLinear Color="Color.Primary" Indeterminate="@_searching"/>
            @_bluetoothSearchOutput
            <div>
                <MudIcon Color="GetConnectionStateColor(FlowManager.CoyoteConnectionState.Value)" Icon="@Icons.Material.Filled.CheckCircle"></MudIcon>
                @FlowManager.CoyoteConnectionState.Value
            </div>
            
            <MudSlider Step="1" Value="@_frequencySlider" Min="10" Max="1000" Size="Size.Medium" ValueChanged="@(EventCallback.Factory.Create<int>(this, OnSettingsValueChangeInt))">Frequency: @_frequencySlider</MudSlider>
        </MudPaper>
    </div>
    <MudPaper Outlined="true" Class="rounded-lg mud-paper-padding d-flex" Style="flex-direction: column; align-content: center">
        <MudProgressLinear Vertical="true" Rounded="true" Size="Size.Large" Value="@_batteryLevel" Color="GetBatteryPercentageColor(_batteryLevel)">
            <MudText Typo="Typo.subtitle1">
                <b>@_batteryLevel%</b>
            </MudText>
        </MudProgressLinear>
    </MudPaper>
</MudPaper>

@code {

    [ModuleInject] private IOpenShockService OpenShockService { get; set; } = null!;
    [ModuleInject] private FlowManager FlowManager { get; set; } = null!;
    [ModuleInject] private IModuleConfig<Openshock2CoyoteConfig> ModuleConfig { get; set; } = null!;
    
    private Guid _selectedDevice = Guid.Empty;
    private IAsyncDisposable _flowUpdatedSubscription = null!;
    private IAsyncDisposable _flowUpdatedBatteryLevel = null!;
    private IAsyncDisposable _flowUpdatedSubscriptionCoyote = null!;
    private int _frequencySlider;
    
    private string _bluetoothSearchOutput = "";
    private readonly CancellationTokenSource _everythingToken = new();
    private CancellationTokenSource _searchTokenSource = new();
    
    private bool _searching;
    private bool _disableButton;
    private byte _batteryLevel;
    
    
    protected override async Task OnInitializedAsync()
    {
        _bluetoothSearchOutput = FlowManager.CoyoteConnectionState.Value switch
        {
            WebsocketConnectionState.Connected => "Connected",
            WebsocketConnectionState.Connecting => "Connecting...",
            _ => "Click on Find Coyote to connect"
        };
        _frequencySlider = ModuleConfig.Config.BluetoothConnection.FrequencyMs;
        _selectedDevice = FlowManager.HubId;

        _batteryLevel = FlowManager.BatteryLevel.Value;
        _disableButton = FlowManager.CoyoteConnectionState.Value is WebsocketConnectionState.Connected or WebsocketConnectionState.Connecting;
        
        _flowUpdatedSubscription = await FlowManager.DeviceConnectionState.Updated.SubscribeAsync(state => InvokeAsync(StateHasChanged));
        _flowUpdatedSubscriptionCoyote = await FlowManager.CoyoteConnectionState.Updated.SubscribeAsync(state =>
        {
            _disableButton = state is WebsocketConnectionState.Connected or WebsocketConnectionState.Connecting;
            _bluetoothSearchOutput = FlowManager.CoyoteConnectionState.Value switch
            {
                WebsocketConnectionState.Connected => "Connected",
                WebsocketConnectionState.Connecting => "Connecting...",
                _ => "Click on Find Coyote to connect"
            };
            return InvokeAsync(StateHasChanged);
        });
        _flowUpdatedBatteryLevel = await FlowManager.BatteryLevel.Updated.SubscribeAsync(state =>
        {
            _batteryLevel = state;
            return InvokeAsync(StateHasChanged);
        });
    }

    private static Color GetBatteryPercentageColor(byte percentage) =>
        percentage switch
        {
            > 40 => Color.Success,
            > 20 => Color.Warning,
            _ => Color.Error
        };
    
    
    private static Color GetConnectionStateColor(WebsocketConnectionState state) =>
        state switch
        {
            WebsocketConnectionState.Connected => Color.Success,
            WebsocketConnectionState.Connecting => Color.Warning,
            WebsocketConnectionState.WaitingForReconnect => Color.Tertiary,
            _ => Color.Error
        };

    private async Task StopCoyote()
    {
        await _searchTokenSource.CancelAsync();
        await FlowManager.DisconnectCoyote();
        _searchTokenSource = new CancellationTokenSource();
        _searching = false;
    }

    private async Task FindCoyote()
    {
        var searchToken = _searchTokenSource.Token;
        _bluetoothSearchOutput = "Searching...";
        _searching = true;
        await FlowManager.ConnectCoyote();
        await Task.Delay(1000, searchToken);
        while (FlowManager.CoyoteConnectionState.Value == WebsocketConnectionState.Connecting)
        {
            searchToken.ThrowIfCancellationRequested();
            await Task.Delay(100, searchToken); 
        }
        searchToken.ThrowIfCancellationRequested();

        if (FlowManager.CoyoteConnectionState.Value == WebsocketConnectionState.Connected)
        {
            _searching = false;
            return;
        }
        _searching = false;
        var bluetoothDevices = await BluetoothService.GetBluetoothDevices(cancellationToken:searchToken);
        searchToken.ThrowIfCancellationRequested();
        try
        {
            _bluetoothSearchOutput = "Found a Coyote V3";
            var deviceId = bluetoothDevices.First(device => device.Name == "47L121000").Id;
            ModuleConfig.Config.BluetoothConnection.CoyoteAddress = deviceId;
            ModuleConfig.SaveDeferred();
            await FlowManager.ConnectCoyote();
        }
        catch (InvalidOperationException)
        {
            _bluetoothSearchOutput = "Couldn't find Coyote V3";
        }
    }
    
    private async Task SelectedDeviceChanged()
    {
        await FlowManager.SelectedDeviceChanged(_selectedDevice);
    }

    public async ValueTask DisposeAsync()
    {
        await _searchTokenSource.CancelAsync();
        _searchTokenSource.Dispose();
        await _flowUpdatedSubscription.DisposeAsync();
        await _flowUpdatedSubscriptionCoyote.DisposeAsync();
        await _flowUpdatedBatteryLevel.DisposeAsync();
    }
    
    private void OnSettingsValueChange()
    {
        ModuleConfig.SaveDeferred();
    }
    
    private void OnSettingsValueChangeInt(int i)
    {
        _frequencySlider = i;
        ModuleConfig.Config.BluetoothConnection.FrequencyMs = i;
        ModuleConfig.SaveDeferred();
    }
}